<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Edit Todo</title>
</head>
<body>
<div class="container">
    <h1>Edit Todo</h1>
    <form th:action="@{/edit/{id}(id=${todo.id})}" th:object="${todo}" method="post">
        <input type="text" th:field="*{todo}" placeholder="할 일을 입력하세요" required/>
        <input type="submit" value="Update Todo"/>
    </form>
</div>
</body>
</html>
